body{
    text-align: center;
    background-color: #f5f7fa;
}

.AA{
    font-size:80px;
    font-style: italic;
}
.YY{

display: flex;
justify-content: space-evenly;
width: 20%;
font-size: 30px;
font-weight: lighter;
}
.YY a{
    text-decoration: none;
    color:#8b3a3a
}
.YY:hover a{

    color:red;
    font-weight: bold;
}

.ZZ{

    display:flex;
    justify-content: space-between;

}
.SS{

    font-size: 45px;
}
.BB{

    font-size: 30px;
}
.EE{

    font-size: 30px;
}
.CC{
    font-size: 45px;
    color:#8b3a3a;
}
.FF{
    font-size: 30px;
}
.KK{
    font-size: 30px;
}
.XX{
    font-size: 45px;
}
.MM{
    font-size: 45px;
}
.LL{
    font-size: 30px;
}
.GG{
    font-size: 17px;
}
.NN{
    font-size:20px;
}