body{
    text-align: center;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    padding-left: 30px;
}
.my_logo{
    background-color: #8b3a3a;
    padding: auto;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
}
.AA{
    font-size:30px;
    font-style: italic;
    padding-left: 30px;
}
.YY{
    font-size: 30px;
    font-weight: lighter;
    margin: auto 0;
    width: 25%;
}
.YY a{
    text-decoration: none;
    color:#8b3a3a;
        padding-right: 30px;


}
.YY:hover a{

    color:red;
    font-weight: bold;
    font-size: 30px;
}

.ZZ{

    display:flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.483);
    top: 5px;
    left: 0;
    width: 100%;
    border-radius: 30px;
}
main{
    padding-top: 50px;
}
.SS{
    margin-top: 40px;
    font-size: 45px;
}
.BB{

    font-size: 30px;
}
.EE{

    font-size: 30px;
}
.CC{
    font-size: 45px;
    color:#8b3a3a;
}
.FF{
    font-size: 30px;
}
.KK{
    font-size: 30px;
}
.XX{
    font-size: 45px;
}
.MM{
    font-size: 45px;
}
.LL{
    font-size: 30px;
}
.GG{
    font-size: 17px;
}
.NN{
    font-size:20px;
}